In [1]:
import pandasql as psql

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("payments.csv", dtype={"telegram_id": str})

In [8]:
query = "SELECT paymentPlan, COUNT(*) as count FROM df GROUP BY paymentPlan"

In [9]:
result = psql.sqldf(query, locals())

In [110]:
query01 = "SELECT username, ExpDate FROM df ORDER BY ExpDate DESC LIMIT 5"

In [111]:
output01 = psql.sqldf(query01, locals()).head(50)

In [112]:
output01

   username     ExpDate
0    Hosni1  2033-12-24
1     Mayad  2030-09-18
2  Hend-6FE  2026-04-18
3   Lina123  2026-01-01
4   Tarek76  2025-12-31